<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springcloud.mapper.CompanyDictMapper">
    <resultMap id="BaseResultMap" type="com.springcloud.bean.dos.CompanyDict">
        <id property="iD" column="iD"></id>
        <result property="companyCode" column="companyCode"></result>
        <result property="companyName" column="companyName"></result>
        <!--<result property="distributorName" column="distributorName"></result>-->
        <result property="mopDeptCode" column="mopDeptCode"></result>
        <result property="mopDeptName" column="mopDeptName"></result>
        <result property="customerCode" column="customerCode"></result>
        <result property="customerName" column="customerName"></result>
        <result property="xunsoftDeptCode" column="xunsoftDeptCode"></result>
        <result property="xunsoftDeptName" column="xunsoftDeptName"></result>
    </resultMap>

    <sql id="Base_Columns">
        companyCode,companyName,mopDeptCode,mopDeptName,customerCode,customerName,xunsoftDeptCode,xunsoftDeptName
    </sql>

    <insert id="batchInsert" parameterType="List">
        insert into companyDict
        (companyCode,companyName,mopDeptCode,mopDeptName,customerCode,customerName,xunsoftDeptCode,xunsoftDeptName)
        values
        <foreach collection="list" item="item"  separator=",">
            (
            #{item.companyCode},
            #{item.companyName},
            #{item.mopDeptCode},
            #{item.mopDeptName},
            #{item.customerCode},
            #{item.customerName},
            #{item.xunsoftDeptCode},
            #{item.xunsoftDeptName}
            )
        </foreach>
    </insert>

    <select id="getPageCompanyDict" parameterType="map" resultMap="BaseResultMap">
        select
          <include refid="Base_Columns" />
        from
          companyDict
          <if test="companyName !=null and companyName != ''">
              where  companyName like '%'+#{companyName}+'%'
          </if>
    </select>

</mapper>