<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springcloud.mapper.DeliverGoodsMapper">
    <resultMap id="userMaps" type="com.springcloud.bean.dos.DeliverGoodsCount">
        <result property="skuBarcode" column="SKU"></result>
        <result property="designNumber" column="款号"></result>
        <result property="color" column="颜色"></result>
        <result property="designName" column="款名"></result>
        <result property="size" column="尺码"></result>
        <result property="count" column="数量"></result>
        <result property="priceTag" column="吊牌价"></result>
        <result property="outboundPrice" column="出库价"></result>
        <result property="needOrderNo" column="要货单号"></result>
        <result property="baseDocNum" column="MOP订单号"></result>
        <result property="unit" column="单位"></result>
        <result property="remark" column="备注"></result>
    </resultMap>


    <select id="getDeliveryorderDetail" statementType="CALLABLE" parameterType="java.util.Map"
            resultMap="userMaps">
          {call
            MOP_GET_DeliveryOrder_Detail(
            #{docNum,mode=IN,jdbcType=VARCHAR},
            #{customer,mode=IN,jdbcType=VARCHAR}
        )}
    </select>





</mapper>