<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springcloud.mapper.LinesItemMapper">

    <resultMap id="ResultMap" type="com.springcloud.bean.dos.LinesItem">
        <id property="iD" column="iD"></id>
        <result property="docNum" column="docNum"></result>
        <result property="purchasingQuantity" column="purchasingQuantity"></result>
        <result property="itemName" column="itemName"></result>
        <result property="unit" column="unit"></result>
        <result property="itemQuantity" column="itemQuantity"></result>
        <result property="quantity" column="quantity"></result>
        <result property="specName" column="specName"></result>
        <result property="specCode" column="specCode"></result>
        <result property="itemUnit" column="itemUnit"></result>
        <result property="itemCode" column="itemCode"></result>
        <result property="remark" column="remark"></result>
        <result property="skuBarcode" column="skuBarcode"></result>
        <result property="allocationQuantity" column="allocationQuantity"></result>
    </resultMap>

    <insert id="batchInsert" parameterType="List">
        insert into LinesItem
        (docNum,purchasingQuantity,itemName,unit,itemQuantity,quantity,
        specName,specCode,itemUnit,itemCode,remark,skuBarcode,allocationQuantity)
        values
        <foreach collection="list" item="item"  separator=",">
            (
            #{item.docNum},
            #{item.purchasingQuantity},
            #{item.itemName},
            #{item.unit},
            #{item.itemQuantity},
            #{item.quantity},
            #{item.specName},
            #{item.specCode},
            #{item.itemUnit},
            #{item.itemCode},
            #{item.remark},
            #{item.skuBarcode},
            #{item.allocationQuantity}
            )
        </foreach>
    </insert>


</mapper>